#image-preview-container {
  display: flex;
  flex-wrap: wrap;
}

#image-preview-container .img-container {
  position: relative;
  width: calc(33.33% - 10px); /* 33.33% để hiển thị 3 ảnh trên mỗi dòng */
  margin: 5px; /* Khoảng cách giữa các hình ảnh */
  box-sizing: border-box; /* Đảm bảo các margin không làm thay đổi kích thước của ảnh */
}

#image-preview-container img {
  width: 100%;
  height: auto;
  display: block;
}

.btn-delete {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5); /* Để biểu tượng dễ nhìn hơn */
  padding: 3px; /* Khoảng cách giữa biểu tượng và cạnh */
  border-radius: 50%; /* Làm cho nó trở thành hình tròn */
}

/* Show-alert */
[show-alert] {
  position: fixed;
  top: 70px;
  right: 15px;
  z-index: 9999;
}

[show-alert].alert-hidden {
  animation-name: alert-hidden;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes alert-hidden {
  from {
    right: 15px;
  }
  to {
    right: -100%;
    display: none;
  }
}

[show-alert] [close-alert] {
  display: inline-block;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}
/* End Show Alert */
