mixin form-booking()
  form.was-validated(action='/')
    .my-3.text-center 
      p Quý khách vui lòng nhập thông tin người đặt tour!
    .my-3
      label.form-label(for='uname') Tên người đặt tour:
      input#uname.form-control(type='text' placeholder='Họ và tên...' name='uname' required='')
      .invalid-feedback Không được để trống!
    .mb-3
      label.form-label(for='phone') Số điện thoại:
      input#phone.form-control(type='text' name='phone' required='')
      .invalid-feedback Không được để trống!
    .mb-3.form-floating
      textarea#floatingTextarea2.form-control(placeholder='Leave a comment here' style='height: 100px')
      label(for='floatingTextarea2') Ghi chú
    .mb-3.text-center
      button.btn.btn-success(type='submit') Đặt tour