mixin search-box()
  form#search-box
    .d-flex.justify-content-center.align-items-center
      input(type="text" id="search-text" placeholder="Tìm kiếm..." required)
      button(id="search-btn") 
        i(class="bi bi-search")
