extends ../../layouts/auth
block main
  .container.d-flex.align-items-center.justify-content-center
    .forgot-password-form.bg-light.p-4.rounded.shadow-lg.w-50
      h3.text-center Lấy lại mật khẩu
      form#forgot-password
        .mb-3
          label.form-label(for='exampleInputEmail1') Nhập email của bạn
          input#exampleInputEmail1.form-control(type='email' name='email' aria-describedby='emailHelp')
          .d-flex.justify-content-between.mt-2
            p Lưu ý chúng tôi sẽ gửi mã OTP về mail của bạn.
            a(href='/login') 
              p Về trang login
        button.btn.btn-primary.w-100.rounded-0(type='submit') Gửi mail
block script
  script(src="/client/js/forgot-password.js")
