include ../mixins/alert
doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    title #{pageTitle}
    link(rel="icon" type="image/x-icon" href="/client/img/logo.jpg")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet")

    link(href="/client/css/aos.css" rel="stylesheet")
    link(href="/client/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")
    link(href="/client/css/boxicons.min.css" rel="stylesheet")
    link(href="/client/css/glightbox.min.css" rel="stylesheet")
    link(href="/client/css/swiper-bundle.min.css" rel="stylesheet")
    link(href="/client/css/style.css" rel="stylesheet") 
    link(href="/client/css/booking.css" rel="stylesheet") 
    script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
  body 
    +alert-success(3000)
    +alert-error(3000)
    include ../partials/header.pug
    main#main
      block main
    include ../partials/footer.pug
    a(href="#" class="back-to-top d-flex align-items-center justify-content-center")
      i(class="bi bi-arrow-up-short")

    script(src="/client/js/aos.js")
    script(src="/client/js/purecounter_vanilla.js")
    script(src="/client/js/bootstrap.bundle.min.js")
    script(src="/client/js/glightbox.min.js")
    script(src="/client/js/isotope.pkgd.min.js")
    script(src="/client/js/swiper-bundle.min.js")
    script(src="/client/js/main.js")
    script(src="/client/js/format-price.js")
    script(src="/client/js/app.js")
    block script






    