footer#footer
  .footer-top
    .container
      .row
        .col-lg-4.col-md-6
          .footer-info
            h3 VietNam Tourism
            p.pb-3
              em Chúng tôi tự hào mang đến cho quý khách những trải nghiệm du lịch độc đáo và đáng nhớ nhất.
            p
              | Công ty TNHH du lịch VIETNAM TOURISM 
              br
              strong Phone:
              | 0389843271
              br
              strong Email:
              | vietnamtourism@gmail.com
              br
            .social-links.mt-3
              a.twitter(href='#')
                i(class="bi bi-twitter")
              a.facebook(href='#')
                i(class="bi bi-facebook")
              a.instagram(href='#')
                i.bi.bi-instagram
              a.google-plus(href='#')
                i.bi.bi-skype
              a.linkedin(href='#')
                i.bi.bi-linkedin
        .col-lg-2.col-md-6.footer-links
          h4 Giới thiệu
          ul
            li
              i(class="bi bi-file-earmark-person")
              a(href='/about') Về chúng tôi
            li
              a(href='/payment-guide') Hướng dẫn thanh toán
            li
              a(href='/instructions-booking') Hướng dẫn đặt tour
            li
              a(href='#') Bảng giá
            li
              a(href='#') Tour khuyến mãi
        .col-lg-3.col-md-6.footer-links
          h4 Thông tin liên hệ
          ul
            li
              a(href='#') Địa chỉ: Cầu diễn, TP Hà Nội
            li
              a(href='#') Điện thoại: 0389843271
            li
              a(href='#') Email: vietnamtourism@gmail.com
            li
              a(href='#') Website: vietnamtourism.com
        .col-lg-3.col-md-6.footer-newsletter
          h4 CHÍNH SÁCH
          .row.mb-2
            a(href="/" class="text-light") 
              <i class="bi bi-hand-thumbs-up"></i>
              | chính sách bảo mật
          .row
            a(href="/" class="text-light")
              <i class="bi bi-hand-thumbs-up"></i>
              | Điều khoản chung
          form(action='' method='post')
            input(type='email' name='email')
            input(type='submit' value='Subscribe')
  .container
    .copyright
      | &copy; Copyright 
      strong
        span 2024 VIETNAM TOURISM
