header#header.fixed-top.header-transparent
  .container.d-flex.align-items-center.justify-content-between.position-relative
    .logo
      h1.text-light
        a(href='/')
          span Vietnam tourism
    nav#navbar.navbar
      ul
        li
          a.nav-link.scrollto(href='/') Trang chủ
        li.dropdown
          a(href='/tours')
            span Danh Mục
            i(class="bi bi-chevron-compact-down")
          ul
            li
              a(href='#') Tour Miền Bắc
            li.dropdown
              a(href='#')
                span Deep Drop Down
                i.bi.bi-chevron-right
              ul
                li
                  a(href='#') Deep Drop Down 1
            li
              a(href='#') Drop Down 4
        li
          a.nav-link.scrollto(href='#about') About Us
        li
          a.nav-link.scrollto(href='#services') Services
        li
          a.nav-link.scrollto(href='#contact') Contact
      i.bi.bi-list.mobile-nav-toggle