include ../mixins/sub-menu.pug
include ../mixins/search-box
header#header.fixed-top.header-transparent
  .container.justify-content-between
    .logo
      h1.text-light
        a(href='/')
          span VN tourism
    nav#navbar.navbar
      ul
        li
          a.nav-link(href='/') Trang chủ
        li.dropdown
          -const pathTours = "/tours";
          a(href=pathTours)
            span Danh Mục
            i(class="bi bi-chevron-compact-down")
          +sub-menu(layoutToursCategory, pathTours)
        li
          a.nav-link(href='/price-table') Bảng giá
        li
          a.nav-link(href='/blog') Tin tức
        li
          a.nav-link(href='/contact') Liên Hệ
        li
          a.nav-link(href='/contact') Chính sách
        li.dropdown
          a(href="/user/info")
            i(class="bi bi-person-circle fs-5")
            i(class="bi bi-chevron-compact-down fs-5")
          ul
            if user
              li
                a(href="/user/info") #{user.fullName}
              li
                a(href="/user/logout") Đăng xuất
            else
              li
                a(href="/auth/login") Đăng nhập
              li
                a(href="/auth/register") Đăng ký
      i.bi.bi-list.mobile-nav-toggle
  .container
    +search-box()