include ../mixins/sub-menu.pug
header#header.fixed-top.header-transparent
  .container.d-flex.align-items-center.justify-content-between.position-relative
    .logo
      h1.text-light
        a(href='/')
          span Vietnam tourism
    nav#navbar.navbar
      ul
        li
          a.nav-link(href='/') Trang chủ
        li.dropdown
          -const pathTours = "/tours";
          a(href=pathTours)
            span Danh Mục
            i(class="bi bi-chevron-compact-down")
          +sub-menu(layoutToursCategory, pathTours)
        li
          a.nav-link(href='/price-table') Bảng giá
        li
          a.nav-link(href='/blog') Tin tức
        li
          a.nav-link(href='/contact') Liên Hệ
      i.bi.bi-list.mobile-nav-toggle