extends ../../layouts/default
include ../../mixins/tour-layout
block main 
  section#portfolio.portfolio
    .container
      .section-title(data-aos='fade-in' data-aos-delay='100')
        h2 Tour nổi bật
      .row(data-aos='fade-in')
        .col-lg-12.d-flex.justify-content-center
          ul#portfolio-flters
            li.filter-active(data-filter='*') Tất cả
            li(data-filter='.filter-app') Miền Bắc
            li(data-filter='.filter-card') Miền Trung
            li(data-filter='.filter-web') Miền Nam
            li(data-filter='.filter-web') Tây Nam Bộ
      .row.portfolio-container(data-aos='fade-up')
        +tour-grid(newToursFeatured)
            
            
        