extends ../../layouts/default
include ../../mixins/moment
include ../../mixins/payment-methods
include ../../mixins/form-order

block main
  .container.booking
    .row.m-0
      .col-lg-7.pb-5.pe-lg-5
        .row
          .col-12.px-0
            +form-order(dataOrder.tour.id, deposit)
      .col-lg-5.p-0.ps-lg-4
        .row.m-0
          .col-12.px-4
            .d-flex.align-items-end.mt-4.mb-2
              p.h4.m-0 Chi tiết
            .d-flex.justify-content-between.mb-2
              p.textmuted Mã tour
              p.fs-14.fw-bold TOUR00001
            .d-flex.justify-content-between.mb-2
              p.textmuted Tên tour
              p.fs-14.fw-bold #{dataOrder.tour.title}
            .d-flex.justify-content-between.mb-2
              p.textmuted Số người lớn ( > 18 tuổi)
              p.fs-14.fw-bold
                span.fas.fa-dollar-sign.pe-1 #{dataOrder.quantityAdult}
            .d-flex.justify-content-between.mb-2
              p.textmuted Số trẻ em ( < 18 tuổi)
              p.fs-14.fw-bold
                span.fas.fa-dollar-sign.pe-1 #{dataOrder.quantityChild}
            .d-flex.justify-content-between.mb-2
              p.textmuted Ngày khởi hành (dự kiến)
              p.fs-14.fw-bold 
                +formatDate(dataOrder.expectedDate)
            .d-flex.justify-content-between.mb-2
              p.textmuted Giảm giá
              p.fs-14.fw-bold
                | -
                span.fas.fa-dollar-sign.px-1
                | 30%
            .d-flex.justify-content-between.mb-3
              p.textmuted.fw-bold Giá tour
              .d-flex.align-text-top
                span.fas.fa-dollar-sign.mt-1.pe-1.fs-14
                span.h4(data-price) #{dataOrder.totalPrice}
              
  script(src="/client/js/cart.js")